trained_models_ann
!trained_models_ann/README.md
note.md
cifar_data
trained_snn_models
new_factor_scale
logs
logs_ann
output/ann_tdbn_layer_output
output/my_hoyer_x_scale_factor
output/check.py
output/fixed
output/my_hoyer_x_scale_factor_final_avg
backup
runs
network_output/*.jpg
network_output/*_test*
network_output/my_x_scale*
onnx-export
.vscode
models/__pycache__
models/vgg_tunable_threshold_bk.py
models/vgg_tunable_threshold_compare_tdbn.py
models/vgg_tunable_threshold_compare.py
models/vgg_tunable_threshold_relu.py
models/vgg_tunable_threshold_spike.py
models/vgg_tunable_threshold_v3.py
models/vgg.py
models/my_prune.py
checkpoints
wandb
config_*.yaml
2ONNX.py
tools
ann_check_hoyer.py
check_pth.py
find_scale_factor.py
get_scale.sh
onnx.sh
snn_bk.py
bk
.gitconfig
test_ann.sh
utils/__pycache__
z_tools
ckpts
model_test.py