datasets==2.4.0
detectron2==0.6+cu113
matplotlib==3.5.1
mmcv==1.6.1
mmcv_full==1.6.1
mmdet==2.25.1
mmdet.egg==info
numpy==1.21.2
opencv_python==4.5.5.62
resnet==0.1
seaborn==0.11.2
sparseml==0.12.1
torch==1.11.0+cu113
torchvision==0.12.0+cu113
torchviz==0.0.2
tqdm==4.62.3
